body {
    margin: 0;
    justify-content: center;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position:absolute;
    background: linear-gradient(50deg, #ffffff 45.18%, #f3e4d6 100%);


}
/* NAV */
nav {
    display: flex;
    flex-direction: row;
    height: 100px;
    border-bottom: 1px solid #F5F5F5;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    justify-content:space-between
}

.logo {
    margin-left: 15px;
}

.nav--bar {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type:none;
    font-size:20px;
}

.nav--bar > li {
    padding: 8px;
    font-weight: bold;
    align-self: center;
}

.nav-links {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.nav-links:hover {
    border-bottom: solid #a17df4;
    color: rgb(85, 83, 83);
    transition: 100ms;
}
/* HERO */
/*  */
/*  */
.hero {
    justify-self: auto;
    margin-left: 35px;
    margin-top: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #F5F5F5;
    height: 100%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-image: url("./images/working-man-svgg.svg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position: right;
}

.hero--photo {
    width: 45%;
    margin-top: 20px;
}

.hero--info {
    font-size: 26px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self:center;

}
.hero--header {
    align-self: center
}

.hero--paragraph {
    margin-bottom: 0;
    max-width: 600px;
}
.styled-break {
    width:60px;
    height: 5px;
    background-color: #a17df4;
    border-radius: 2.5px;
    margin: 8px 0 30px 0;
    align-self: flex-start;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.button {
        border: 0;
        padding: 10px 20px;
        font-size: 15px;
        color: white;
        background-color: rgb(230, 184, 124);
        width: 100px;
        border-radius: 25px;
        text-transform: uppercase;
        text-align: center;
        height: 20px;
        transition: 350ms;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

.button:hover {
        background-color: rgb(245, 139, 0);
    }

.button2 {
    border: 0;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: rgb(230, 184, 124);
    border-radius: 25px;
    text-transform: uppercase;
    text-align: center;
    height: 20px;
    transition: 350ms;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}
.button2:hover {
    background-color: rgb(245, 139, 0)
}

.hero-but {
    color: white;
}

    /* 
    -ABOUT ME
    */

.about--me {
    border-bottom: 1px solid  #F5F5F5;
    padding-left: 20px;
    margin-top: 10px;
    padding-bottom: 30px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
   }

.about-me-right {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.about-me-header {
    font-size: 35px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.header-styled-break2 {
    width:100px;
    height: 5px;
    background-color: #a17df4;
    border-radius: 2.5px;
}

.header-styled-break3 {
    height:250px;
    width: 1.5px;
    border-radius: 1px;
    background-color:  #d6d6d6;
    align-self:auto;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 25px;
}

.avatar {
    margin-top: 10px; 
    border-radius: 125px;
    align-self: center;
}

.txt {
    padding: 18px;
    width: 250px;
    align-self:flex-start;
    font-size: 18px;
}

.about-me-third-row {
    align-self:center;
}
.about-me-details {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align:justify;
    padding-right: 18px;
}

.about-me-links {
    padding: 5px;
    margin-top: 30px;
    font-size: 40px;
    transition: 600ms;
}

.link-buttons {
    margin-bottom: 10px;
    font-size: 40px;
}

/* PROJECT SECTION */
/*  */
/*  */
/*  */
.projects-section {
    padding-left: 20px;
    width: 100%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    padding-bottom: 50px;
}

.projects-row {
    margin-top: 30px; 
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-container {
    margin: 5px;
    width: 320px;
    height: 550px;
    background-color: rgb(160, 146, 146);
    background: linear-gradient(160deg, #ffffff 70.18%, #e7d0c3 100%);
    /* background: linear-gradient(105deg, #ffffff 70.18%, #c7b1a4 100%); */
    text-align: center;
    border: 2px solid #ece9e9;
    border-radius:15px;
    padding: 0 5px 5px  5px;
}

.project-img {
    padding: 7px;
    border-radius: 15px;
    height: 130px;
    width: 250px;
    margin-top: 10px;
}
.in-prog {
    position: absolute;
    opacity: 0.85
}
.projects-paragraph {
    height: 100px;
    width: 250px;
    padding: 10px;
    margin-left: 25px;
}
#scrimba {
    font-weight: bold;
    text-decoration:underline;
}
.projects-button {
    margin-left: 100px;
    border: 0;
    padding: 8px 10px;
    font-size: 15px;
    background-color: rgb(230, 184, 124);
    width: 100px;
    border-radius: 25px;
    text-transform: uppercase;
    height: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}
.projects-button:hover {
    background-color: rgb(245, 139, 0);
    transition: 500ms;
}
.button-link {
    color: white;
}
.gh-link {
    border-bottom: solid 3px #a17df4;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.gh-link:hover {
    color: rgb(24, 20, 20);
    transition: 500ms;
    font-size: 20px;
}
.tech-icons {
    font-weight: bold;

}
.fa-brands {
    font-size: 22px;
    margin-left: 10px;
}
.fa-html5 {
    color: rgb(255, 94, 0)
}

.fa-css3-alt{
    color: rgb(80, 80, 248)
}

.fa-js {
    color: yellow;
    background: black
}

.fa-react {
    color: lightskyblue;
}
/* JOURNAL */

.journal{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #F5F5F5;
    padding: 10px;
}

.content {
    margin-left: 15px;
    margin-top: 20px
}


.journal-section {
    width: 550px;
}

.bar {
  
    height: 55px;
    background-color: #F55A5A;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    padding-top: 5px;
    color: white;
}

/* CONTACT ME SECTION */
.contact-me {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(200deg, #f5c89d 8.18%, #f38958 100%); */
    /* background: linear-gradient(90deg, #ffffff 14.18%, #a17df4 100%); */
    background: linear-gradient(220deg, #ffffff 25.18%, #f3e4d6 100%);
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 25px; 
    font-family: 'IBM Plex Mono';
}

.left-side-section {
    width: 400px;
    align-self:baseline;
    padding: 5px;
}
.contact-me-header {
    font-weight: bold;
    color:rgb(85, 83, 83);
    font-size: 35px;
    text-align: center; 

}
.contact-me-paragraph {
    font-size: 17px;
    border-bottom: 3px solid #e2e2e2;
    padding-bottom: 30px;
}
.icons {
    margin-top: 50px;
    text-align: center; 
}

.boldy {
    font-weight: bold;
}
.contact-me-form {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 5px;
    border: 3px solid #ece9e9;
}

.contact-me-input {
    display: flex;
    flex-direction: column;
    padding: 7px;
}

.input-type {
    background-color: rgb(247, 244, 240); 
    border: none;
    border-radius: 5px;
    height: 35px;
    padding: 5px;
    border: 1px solid #e2e2e2;
}

.input-message {
    height: 60px;
    background-color: rgb(247, 244, 240); 
    border: none;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #e2e2e2;
}

/*  */
/*  */
/* FOOTER */

/*  LINKS */
a {
    background-color: transparent;
    text-decoration: none;
    color:rgb(85, 83, 83);
}

.contact-me-links {
    padding: 5px;
    font-size: 40px;
    transition: 600ms;
}

.contact-me-links:hover {
    color: black;
    transition: 600ms;
}

/* FOOTER */

.footer-container {
    background-color:#2c2626;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f3e4d6;
    padding: 5px 10px 0px 10px;
    font-family: 'Roboto', sans-serif;
    height: 160px;
}

.footer-logo {
    align-self:center
}

.site-map {
    text-align: center;
}

.ul-site-map {
    text-decoration: none;
    list-style-type:none;
    text-align: start;
    margin-right: 10px;
}

.site-map-header {
    font-weight: bold;
}

.ft-link {
    color: #f3e4d6;
    font-size: 14px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.footer-link {
    padding: 5px;
    font-size: 40px;
    transition: 600ms;
}

.reg {
    position: absolute;
    align-self:flex-end;
    padding-top: 30px;
}

/*
- HERO AND NAV 
- SMALLER SCREEN 
- max-width 700px
*/
@media only screen and (max-width: 600px) {
    /* body {
        max-width: 600px;
    } */
    .container {
        max-width: 600px;
        background: linear-gradient(80deg, #ffffff 70.18%, #f3e4d6 100%);
        border-right: 1px solid #e9e3e3;
    }
    nav {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-self: center;
        height: 100%
    }
    .logo {
        margin: 0;
        width: 60%;
        align-self: center;
    }

    .nav--bar {
        font-size: 15px;
        font-weight: bold;
        margin: 0;
        padding: 5px;
        align-self: center;
    }
  
    .hero {
        background-image: url("./images/working-man-svgg.svg");
        height: 400px;
        background-size:contain;
        background-repeat: no-repeat;
    }
    .hero--photo {
        visibility: hidden;
     }
     .styled-break {

        visibility: hidden;
     }
     

     .hero--info {
        justify-content: center;
     }

     .hero--paragraph {
        width: 350px;
        background-color: white;
        opacity: 0.7;
        font-size: 17px;
        font-weight: bold;
        padding: 2px;  
     }

     .hero--header {
        font-size: 26px;
        background-color: white;
        opacity: 0.8;
        font-weight: bold;
        padding: 2px;
     }

     /* about me */
     .about--me {
        max-width: 600px;
     }
     .card {
        margin-top: 10px; 
        display:flex;
        flex-wrap: wrap; 
     }

     .about-me-right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

     .header-styled-break3 {
        visibility: hidden;
     }

     .avatar { 
        width: 150px;
        padding: 10px;
     }

     .txt {
        text-align:left;
     }

     .about-me-details {
        text-align: auto;
        margin-left: 30px;
     }

     .projects-row {
        width: 500px;
        display: flex;
        justify-content:center
    }

    .contact-me { 
        display: flex;
        flex-direction: column;
        max-width: 600px;
        height: 700px;
        align-items:center;
        padding-bottom: 30px;
        border: 1px solid #e9e3e3;
    }

    .left-side-section {
        text-align: center; 
        margin-left: 25px;
    }

    .contact-me-header{
        font-weight: bold;
    }
    .contact-me-form {
        max-width: 320px;
        max-height: 260px;
        background-color: white;
        border-radius: 20px;
        padding: 15px;
        margin-top: 15px;
        margin-right: 15px;
        border: 2px solid #F5F5F5;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-links {
        visibility: hidden;
    }
    }
   